<% layout('./base') -%>


<div class="container">
    <img class="mt-5" style="width: 90%; height: 300px;" src="http://127.0.0.1:3001\<%= data.poto%>" alt="">
    <div class="row-md">
        <div class="col-md-2"><h3><%= data.namawisata%></h3></div>
        <div class="col-md-1"><%= data.no_pengurus%></div>
    </div>
    
    <p class="mt-5"><%= data.deskripsi%></p>
</div>
